body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-color: #080808; /*utilizando el color de fondo oscuro hexadecimal #333*/
    color: #fff; /*cambiando el color del texto a blanco para mejorar la legibilidad*/
  }
  

  .titulo {
    background-image: url('https://i.postimg.cc/YCn00cCt/logo-kawasaki-moto-black.jpg');
    background-size: cover; /*para que la imagen ocupe todo el fondo*/
    color: #fff; /*color de texto blanco para que se vea mejor*/
    text-align: left; /*centrar el texto*/
    padding: 50px 0; /*añadir un poco de espacio alrededor del texto*/
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }

  h1, h2, h3 {
    margin: 10px;
  }
  
  .main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }

  .foto-central{
    display: flex;
    justify-content: centers;
  }
  
  img {
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    border-radius: 10%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li:before {
    content: "\2022";
    margin-right: 10px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }
  
  